<div class="modal-header">
    <button id="closeBtn" type="button" class="close" data-ng-click="onCancel()">&times;</button>
    <h3>{{dialogTitle}}</h3>
</div>

<div data-ng-form class="form-horizontal" data-name="addItemDialogForm">
    <div class="modal-body">
        
        <div class="control-group">
            <label class="control-label" for="firstName">First Name</label>
            <div class="controls">
                <input id="firstName" type="text" class="span3" data-name="firstNameControl" data-ng-required="true" data-ng-model="addItemDialogModel.item.FirstName" data-jt-set-focus="setFocusToFirstNameField" />
                <span class="required-field">*</span>
                <span class="alert" data-jt-required-field-validation-error="#firstName">First name is a required field.</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="lastName">Last Name</label>
            <div class="controls">
                <input id="lastName" type="text" class="span3" data-name="lastNameControl" data-ng-required="true" data-ng-model="addItemDialogModel.item.LastName" />
                <span class="required-field">*</span>
                <span class="alert" data-jt-required-field-validation-error="#lastName">Last name is a required field.</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">Email Address</label>
            <div class="controls">
                <input id="email" type="email" class="span3" data-name="emailControl" data-ng-required="true" data-ng-model="addItemDialogModel.item.Email" />
                <span class="required-field">*</span>
                <span class="alert" data-jt-required-field-validation-error="#email">Email address is a required field.</span>
                <span class="alert" data-jt-email-validation-error="#email">Email address not valid.</span>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button id="okBtn" class="btn btn-small btn-primary" data-ng-click="onOk()">OK</button>
        <button id="cancelBtn" class="btn btn-small" data-ng-click="onCancel()">Cancel</button>
    </div>
</div>
